@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Http;

@section css{
    @*Add specific css script here*@
    <link rel="stylesheet" href="~/css/telegram.css" />
}

<div class="container" id="mainContainer2">
    <div class="first-container">
        <div style="text-align: center; margin-top:2%">
            <img id="imgLogo" src="~/images/Telegram.png"
                 style="width: 25%" />
            <h1 style="margin-top:2%;margin-bottom:50px;color:white;">Add Notifications for Telegram</h1>
        </div>
    </div>
</div>

<table>
    <tr>
        <th style="text-align:right;">
            <img src="~/images/TelegramBot.png" style="width: 50%;" />
        </th>
        <th>
            <div style="background-color: white; padding-top: 33px; padding-left: 42px; padding-right: 42px; padding-bottom: 33px; border-radius: 25px; margin-left: 0px;">
                <h1 style="font-size:30px;">Instructions:</h1>
                <h5 style="padding-top:20px;">1. Scan the QR code above</h5>
                <h5>2. Enter this code: @ViewData["Code"] within 1 minute</h5>
                <h5>3. Click confirm when you are done</h5>
            </div>
        </th>
    </tr>
</table>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <!-- Login Button -->
            <div class="every" style="padding-top:40px;padding-right:50px;padding-left:50px; display: inline-block;">
                <div class="btn">@Html.ActionLink("Confirm", "RegisterUser")</div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @*Add JavaScripts specifically for this view here*@
    <script src="~/js/futuretransfer.js"></script>
}
