@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Http;
<div class="container">
    <h3>Add notifications for Telegram</h3>
    <div><img src="~/images/TelegramBot.png" /></div>
    <div>Instructions</div>
    <div>1) Scan the QR code above</div>
    <div>2) Key in your NRIC</div>
    <div>3) Click confirm when you are done</div>
    <button action="RegisterUser">Confirm</button>
</div>
