@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container" id="mainContainer2">
    <div class="first-container">
        <div style="text-align: center; margin-top:2%">
            <img id="imgLogo" src="~/images/Telegram.jpeg"
                 style="width: 45%" />
            <h1 style="margin-top:2%;margin-bottom:50px;color:white;">Notifications for Telegram</h1>
        </div>
    </div>
</div>

<div style="background-color: white; padding-top: 33px; padding-left: 42px; padding-right: 42px; padding-bottom: 33px; border-radius: 25px; margin-left: 0px; text-align: center;">
    <h1 style="font-size:30px;">@ViewData["Message"]</h1>
</div>
<div>
    @Html.ActionLink("Next","Index","Home")
</div>