@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@500&display=swap");

/*Button 2 CSS*/
.btn2 {
    box-sizing: border-box;
    background-color: #BA2B43;
    border-radius: 0.6em;
    color: white;
    cursor: pointer;
    /*display: flex;*/
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.btn a:hover, .btn a:focus {
    color: #000;
    outline: 0;
}


h1, h2, h3, h4, h5, h6{
    color:white;
}

h1{
    font-size:55px;
}

h2{
    font-size:30px;
}

.input ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #2D4263;
    opacity: 1; /* Firefox */
    font-size: 15px;
}

/*Input CSS*/
.input {
    box-sizing: border-box;
    background-color: white;
    border: 2px solid white;
    border-radius: 0.6em;
    color: white;
    cursor: pointer;
    /*display: flex;*/
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 0px;
    padding: 0.2em 0.2em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}


input:read-only, textarea:read-only {
    border: 0;
    box-shadow: none;
    color: white;

}

textarea:read-write {
    box-shadow: inset 1px 1px 3px #ccc;
    border-radius: 3px;
}

/*'Login via Face Recognition' Button CSS*/
#activateButton {
    display: inline-block;
    box-sizing: border-box;
    background-color: #E392A0;
    border-radius: 0.6em;
    color: white;
    cursor: pointer;
    /*display: flex;*/
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-color: #DDBE93;
}