<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("css", required: false)
</head>
<body>
    <header>
        @await Html.PartialAsync("_NavBar.cshtml")
    </header>
    <div class="container min-vh-100">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="footer" style="position:fixed;">
        <img id="imgLogo" src="~/images/Footer.png"
             style="float:left;width: 85%; height: 5% " />
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
