@using Microsoft.AspNetCore.Http;
<!-- A grey navbar that expands horizontally at medium device -->
<nav class="navbar navbar-expand-md bg-light navbar-light">
    <!-- The brand(or icon) of the navbar -->
    <a class="navbar-brand" href="~/Home/Index"
       style="font-size: 32px; font-weight: bold; color: #BA2B43; ">
        OCBC
    </a>
    <!-- Toggle/collapsible Button, also known as hamburger button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#homeNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Links in the navbar, displayed as drop-down list when collapsed -->
    <div class="collapse navbar-collapse" id="homeNavbar">
        @*@if (User.Identity.IsAuthenticated == false)
            {
               <ul class="navbar-nav mr-auto">
                   <li class="nav-item">
                       <a class="nav-link" asp-area="" asp-controller="Home" asp-action="LogIn">Login</a>
                   </li>
               </ul>
            }*@
        @if (Context.Session.GetString("NRIC") != null)
{

        <ul class="navbar-nav mr-auto">
            @if (Context.Session.GetString("TelegramSetUp") == "false")
            {
                <li class="nav-item">
                    <!--Orginal version-->
                    <a class="nav-link" href="~/FundTransfer/FundTransfer">Transfer</a>
                </li>
                <li class="nav-item">
                    <!--Orginal version-->
                    <a class="nav-link" href="~/Transaction/index">History</a>
                </li>
            }
            @if (Context.Session.GetString("TelegramSetUp") == "true")
            {
                <li class="nav-item">
                    <a class="nav-link" href="~/Telegram/index">Telegram</a>
                </li>
            }
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogOut">LogOut</a>
            </li>
        </ul>
}
</div>
</nav>
