@*
    View for Transaction Confirmation
*@
@using Microsoft.AspNetCore.Http;
@section css{
    @*Add specific css script here*@
    <link rel="stylesheet" href="~/css/confirmation.css" />
}

@model PFD_Challenge_1.Models.TransferConfirmation

<div class="container" id="mainContainer2">
    <div class="first-container">
        <div style="text-align: center; margin-top:2%">
            <img id="imgLogo" src="~/images/FundTransfer.png"
                 style="width: 38%" />
            <h1 style="margin-top:4%">Review Transfer</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <form asp-action="Confirmation" style="text-align: center">
                <div class="container">
                    <div class="form-group form-check-inline" style="padding-top: 0px; padding-right: 115px; padding-left: 115px; display: inline-block;">
                        <div class="form-group" style="color: white">
                            <div class="to" style="padding-top: 2px;">
                                <div class="to" style="background-color: #AA1945; font-size: 20px;">To</div>
                            </div>
                            <div class="input" style="padding-top: 2px; padding-bottom: 0px; padding-right: 115px; padding-left: 115px; display: inline-block;">
                                <input asp-for="Recipient" type="text" readonly class="form-control" id="to" style="background-color: #ECDBBA; border: transparent; color: black; text-align: center; font-size: 25px;">
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-check-inline" style="padding-top: 0px; padding-right: 115px; padding-left: 115px; display: inline-block;">
                        <div class="form-group" style="color: white">
                            <div class="transferamount" style="padding-top: 2px;">
                                <div class="transferamount" style="background-color: #AA1945; font-size: 20px;">Transfer Amount</div>
                            </div>
                            <div class="input" style="padding-top: 2px; padding-bottom: 0px; padding-right: 115px; padding-left: 115px; display: inline-block;">
                                <input asp-for="TransferAmount" type="text" readonly class="form-control" id="transfer" style="background-color: #ECDBBA; border: transparent; color: black; text-align: center; font-size: 25px;">
                            </div>
                        </div>
                    </div>
                    <div>
                        <input hidden readonly asp-for="BankAccount" />
                        <input hidden readonly asp-for="FutureTransfer" />
                    </div>
                    @if (Model.FutureTransfer == "false")
                    {
                        <div id="futureTime">
                            <div class="form-group form-check-inline" style="padding-top: 0px; padding-right: 360px; padding-left: 180px; display: inline-block;">
                                <div class="form-group" style="color: white">
                                    <div class="plannedtimeoftransfer" style="padding-top: 2px;">
                                        <div class="plannedtimeoftransfer" style="background-color: #AA1945; font-size: 20px;">Planned time of transfer</div>
                                    </div>
                                    <div class="input" style="padding-top: 2px; padding-bottom: 0px; padding-right: 230px; padding-left: 230px; display: inline-block; font-size: 30px;">
                                        <div style="padding-top: 10px; padding-bottom: 10px; color: black;">Immediate</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div id="futureTime">
                            <div class="form-group form-check-inline" style="padding-top: 0px; padding-right: 360px; padding-left: 180px; display: inline-block;">
                                <div class="form-group" style="color: white; margin:auto auto auto 33px;">
                                    <div class="plannedtimeoftransfer" style="padding-top: 2px;">
                                        <div class="plannedtimeoftransfer" style="background-color: #AA1945; font-size: 20px;">Planned time of transfer</div>
                                    </div>
                                    <div style=" margin:auto;box-sizing: border-box; background-color: transparent; border: 2px solid white; border-radius: 0.6em; color: white; cursor: pointer; /*display: flex;*/ align-self: center; font-size: 1rem; font-weight: 400; line-height: 1; margin: 20px; padding: 1.2em 2.8em; text-decoration: none; text-align: center; text-transform: uppercase; font-family: 'Montserrat', sans-serif; font-weight: 700; padding-top: 2px; padding-bottom: 0px; padding-right: 130px; padding-left: 130px; display: inline-block;">
                                        <div style="padding-top: 10px; padding-bottom: 10px;">
                                            <div style="width: 300px; font-size: 25px;"><input asp-for="TimeTransfer" />@*@String.Format("{0:G}", Context.Session.GetString("TimeOfTransfer"))*@</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="every" style="padding-top: 0px; padding-right:50px;padding-left:50px; display: inline-block;">
                    <div><button action="submit" onclick="document.getElementById('id01').style.display='block'" style="width:auto;display: inline-block;" class="btn2">Confirm Transfer</button></div>
                </div>
                <div><button id="FailSafe">Fail-Safe Demo Button</button></div>
            </form>
        </div>
    </div>
</div>


@section scripts{
    @*Add JavaScripts specifically for this view here*@
    <script src="~/js/confirmation.js"></script>
<script>
    $(document).ready(function () {
        const APIKEY = "61f2742d7e55272295017175";
        let restId = "@Context.Session.GetString("RestID")";
        let jsondata = {
            "checkpoint3": "True"
        };
        let settings = {
            "async": "true",
            "crossDomain": "true",
            "url": "https://ocbcdatabase-0c55.restdb.io/rest/temptransac/"+restId,
            "method": "PUT",
            "headers": {
                "content-type": "application/json",
                "x-apikey": APIKEY,
                "cache-control": "no-cache"
            },
            "processData": false,
            "data": JSON.stringify(jsondata)
        }

        $.ajax(settings).done(function (response) {
            console.log(response);
        });
    })
    $("#FailSafe").click(function (e) {
        let jsondata = {
            "checkpoint4": "True"
        };
        let settings = {
            "async": "true",
            "crossDomain": "true",
            "url": "https://ocbcdatabase-0c55.restdb.io/rest/temptransac/" + restId,
            "method": "PUT",
            "headers": {
                "content-type": "application/json",
                "x-apikey": APIKEY,
                "cache-control": "no-cache"
            },
            "processData": false,
            "data": JSON.stringify(jsondata)
        }
        $.ajax(settings).done(function (response) {
            console.log(response);
        });
        alert("Internal Server Error 500!");
    })
</script>
}