@*
    *Main page for transfer
    Remember to declare model used
*@
@model PFD_Challenge_1.Models.FundTransferReview
@section css{
    @*Add specific css script here*@
    <link rel="stylesheet" href="~/css/futuretransfer.css" />
}


<div class="container" id="mainContainer2">
    <div class="first-container">
        <div style="text-align: center; margin-top:2%">
            <img id="imgLogo" src="~/images/FutureTransferReview(4).jpg"
                 style="width: 33%" />
            <h1 style="margin-top:2%">Transfer</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <form asp-action="FundTransferReview" style="text-align: center">
                <div class="container">
                    <div class="form-group form-check-inline" style="padding-top: 0px; padding-right: 115px; padding-left: 115px; display: inline-block;">
                        <div class="form-group" style="color: white">
                            <div class="to" style="padding-top: 2px;">
                                <div class="to" style="background-color: #AA1945">To</div>
                            </div>
                            <div class="input" style="padding-top: 2px; padding-bottom: 0px; padding-right: 115px; padding-left: 115px; display: inline-block;">
                                <input asp-for="Recipient" type="text" class="form-control" id="to" style="background-color: #E7625F; border: transparent; color: white; text-align: center; font-size:30px;">
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-check-inline" style="padding-top: 0px; padding-right: 115px; padding-left: 115px; display: inline-block;">
                        <div class="form-group" style="color: white">
                            <div class="accountbalance" style="padding-top: 2px;">
                                <div class="accountbalance" style="background-color: #AA1945">Account Balance</div>
                            </div>
                            <div class="input" style="padding-top: 2px; padding-bottom: 0px; padding-right: 60px; padding-left: 60px; display: inline-block;">
                                <input readonly asp-for="Balance" class="form-control" id="accountbalance" style="padding-left: 80px; padding-right: 70px; background-color: #E7625F; font-size: 30px; text-align:center;" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-check-inline" style="padding-top: 0px; padding-right: 115px; padding-left: 115px; display: inline-block;">
                        <div class="form-group" style="color: white">
                            <div class="transferamount" style="padding-top: 2px;">
                                <div class="transferamount" style="background-color: #AA1945">Transfer Amount</div>
                            </div>
                            <div class="input" style="padding-top: 2px; padding-bottom: 0px; padding-right: 115px; padding-left: 115px; display: inline-block;">
                                <input asp-for="TransferAmount" type="text" class="form-control" id="transfer" style="background-color: #E7625F; border: transparent; color: white; text-align: center; font-size: 30px;">
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-check-inline" style="padding-top: 0px; padding-right: 115px; padding-left: 115px; display: inline-block;">
                        <div class="form-group" style="color: white">
                            <div class="date" style="padding-top: 2px; padding-left:10px">
                                <div class="date" style="background-color: #AA1945">Date</div>
                            </div>
                            <div tyle="padding-top: 20px;">
                                <div class="input" style="padding-top: 2px; padding-bottom: 0px; padding-right: 70px; padding-left: 70px; display: inline-block;">
                                    <label class="col-form-label">
                                        @if (Model.FutureTransfer == "false")
                                        {
                                            <input name="futureTransfer" type="radio" value="false" class="form-check-input" id="immediateRadio" checked="checked" />
                                        }
                                        else
                                        {
                                            <input name="futureTransfer" type="radio" value="false" class="form-check-input" id="immediateRadio" />
                                        }
                                    </label>
                                    <span style="font-weight:normal; padding-right:20px">Immediate</span>
                                </div>
                                <div class="input" style="padding-top: 2px; padding-bottom: 0px; padding-right: 70px; padding-left: 70px; display: inline-block;">
                                    <label class="col-form-label">
                                        @if (Model.FutureTransfer == "false")
                                        {
                                            <input name="futureTransfer" type="radio" value="true" class="form-check-input" id="futureRadio" />
                                        }
                                        else
                                        {
                                            <input name="futureTransfer" type="radio" value="true" class="form-check-input" id="futureRadio" checked="checked" />
                                        }
                                        <span style="font-weight:normal; padding-right:20px">Schedule</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="futureTime">
                        <div class="form-group form-check-inline" style="padding-top: 0px; padding-right: 115px; padding-left: 115px; display: inline-block;">
                            <div class="form-group" style="color: white">
                                <div class="plannedtimeoftransfer" style="padding-top: 2px;">
                                    <div class="plannedtimeoftransfer" style="background-color: #AA1945">Planned time of transfer</div>
                                </div>
                                <div class="input" style="padding-top: 2px; padding-bottom: 0px; padding-right: 140px; padding-left: 140px; display: inline-block;">
                                    <input asp-for="TimeTransfer" /><br />
                                    <span asp-validation-for="TimeTransfer" class="text-danger small"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="every" style="padding-top: 0px; padding-right:50px;padding-left:50px; display: inline-block;">
                    <div><button action="submit" onclick="document.getElementById('id01').style.display='block'" style="width:auto;display: inline-block;" class="btn2">Confirm</button></div>
                </div>
            </form>

        </div>
    </div>
</div>
@section scripts{
    @*Add JavaScripts specifically for this view here*@
    <script src="~/js/futuretransfer.js"></script>
    <script>
        $(document).ready(function () {
            if ($("#futureRadio").is(':checked')) {
                $("#futureTime").show()
            } else {
                $("#futureTime").hide()
            }
        })
        $("#futureRadio").click(function () {
            $("#futureTime").show()
        })
        $("#immediateRadio").click(function () {
            $("#futureTime").hide()
        })
    </script>
}
