@*
    *Main page for transfer
    Remember to declare model used
*@
@model PFD_Challenge_1.Models.FundTransferReview
@section css{
    @*Add specific css script here*@
    <link rel="stylesheet" href="~/css/futuretransfer.css" />
}


<div class="container" id="mainContainer2">
    <div class="first-container">
        <div style="text-align: center; margin-top:5%">
            <img id="imgLogo" src="~/images/FutureTransferReview(2).jpeg"
                 style="width: 40%" />
            <h1 sstyle="margin-top:5%">Transfer</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <form asp-action="FundTransferReview" style="text-align: center">
                <div class="container">

                    <div class="form-group" style="color: white; padding-left: 35px">
                        <label for="to">To</label>
                        <div class="input" style="padding-top: 20px; padding-right: 115px; padding-left: 115px; display: inline-block;">
                            <input asp-for="Recipient" type="text" class="form-control" id="to">
                        </div>
                    </div>
                    <div class="form-group" style="color: white; padding-right: 55px">
                        <label for="accountbalance">Account Balance</label>
                        <div class="input" style="padding-top: 20px; padding-right: 115px; padding-left: 115px; display: inline-block;">
                            <input readonly asp-for="Balance" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group" style="color: white">
                        <label for="transfer">Transfer</label>
                        <div class="input" style="padding-top: 20px; padding-right: 115px; padding-left: 115px; display: inline-block;">
                            <input asp-for="TransferAmount" type="text" class="form-control" id="transfer">
                        </div>
                    </div>
                    <div class="form-group form-check-inline" style="margin-top:15px">
                        <div class="form-group" style="color: white">
                            <div>Date</div>
                            <div>
                                <label class="col-form-label">
                                    @if (Model.FutureTransfer == "false")
                                    {
                                        <input name="futureTransfer" type="radio" value="immediate" class="form-check-input" id="immediateRadio" checked="checked" />
                                    }
                                    else
                                    {
                                        <input name="futureTransfer" type="radio" value="immediate" class="form-check-input" id="immediateRadio" />
                                    }
                                    <span style="font-weight:normal; padding-right:20px">Immediate</span>
                                </label>
                                <label class="col-form-label">
                                    @if (Model.FutureTransfer == "false")
                                    {
                                        <input name="futureTransfer" type="radio" value="future" class="form-check-input" id="futureRadio" />
                                    }
                                    else
                                    {
                                        <input name="futureTransfer" type="radio" value="future" class="form-check-input" id="futureRadio" checked="checked" />
                                    }
                                    <span style="font-weight:normal; padding-right:20px">Schedule</span>
                                </label>
                                <input asp-for="FutureTransfer" hidden readonly />
                            </div>
                        </div>
                    </div>
                    <div id="futureTime">
                        <label asp-for="TimeTransfer" class="form-label"></label>
                        <input asp-for="TimeTransfer" /><br />
                        <span asp-validation-for="TimeTransfer" class="text-danger small"></span>
                    </div>
                    <div class="every" style="padding-right:50px;padding-left:50px; display: inline-block;">
                        <div><button action="submit" onclick="document.getElementById('id01').style.display='block'" style="width:auto;display: inline-block;" class="btn2">Confirm</button></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



@section scripts{
    @*Add JavaScripts specifically for this view here*@
    <script src="~/js/futuretransfer.js"></script>
    <script>
        $(document).ready(function () {
            if ($("#futureRadio").is(':checked')) {
                $("#futureTime").show()
            } else {
                $("#futureTime").hide()
            }
        })
        $("#futureRadio").click(function () {
            $("#futureTime").show()
            $("#FutureTransfer").val() = "true";
        })
        $("#immediateRadio").click(function () {
            $("#futureTime").hide()
            $("#FutureTransfer").val() = "false";
        })
    </script>
}
