@*
    *Main page for transfer
    Remember to declare model used
*@
@using Microsoft.AspNetCore.Http;
@model PFD_Challenge_1.Models.FundTransferReview
@section css{
    @*Add specific css script here*@
    <link rel="stylesheet" href="~/css/futuretransfer.css" />
}


<div class="container" id="mainContainer2">
    <div class="first-container">
        <div style="text-align: center; margin-top:2%">
            <img id="imgLogo" src="~/images/FundTransfer.png"
                 style="width: 38%" />
            <h1 style="margin-top:4%">Transfer</h1>
        </div>
    </div>
</div>

<div class="container">
    @{ if (ViewData["Message"] != null)
            {
        <div style="color: #AA1945; font-size: 30px; padding-bottom: 20px; text-align: center; ">Notice: @ViewData["Message"]</div>
            }

    }
    <input type="hidden" id="nric" value="@Context.Session.GetString("NRIC")" />
    <div class="row">
        <div class="col text-center">
            <form asp-action="FundTransferReview" style="text-align: center">
                <div class="container">
                    <div class="form-group form-check-inline" style="padding-top: 0px; padding-right: 115px; padding-left: 115px; display: inline-block;">
                        <div class="form-group" style="color: white">
                            <div class="to" style="padding-top: 2px;">
                                <div class="to" style="background-color: #AA1945; font-size: 20px; ">To</div>
                            </div>
                            <div class="input" style="padding-top: 2px; padding-bottom: 0px; padding-right: 115px; padding-left: 115px; display: inline-block;">
                                <input asp-for="Recipient" type="text" class="form-control" id="to" style="background-color: #ECDBBA; border: transparent; color: black; text-align: center; font-size: 25px;">
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-check-inline" style="padding-top: 0px; padding-right: 115px; padding-left: 115px; display: inline-block;">
                        <div class="form-group" style="color: white">
                            <div class="accountbalance" style="padding-top: 2px;">
                                <div class="accountbalance" style="background-color: #AA1945; font-size: 20px;">Account Balance</div>
                            </div>
                            <div class="input" style="padding-top: 2px; padding-bottom: 0px; padding-right: 60px; padding-left: 60px; display: inline-block;">
                                <input readonly asp-for="Balance" class="form-control" id="accountbalance" style="padding-left: 80px; padding-right: 70px; background-color: #ECDBBA; font-size: 25px; text-align: center;color:black;" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-check-inline" style="padding-top: 0px; padding-right: 115px; padding-left: 115px; display: inline-block;">
                        <div class="form-group" style="color: white">
                            <div class="transferamount" style="padding-top: 2px;">
                                <div class="transferamount" style="background-color: #AA1945; font-size: 20px;">Transfer Amount</div>
                            </div>
                            <div class="input" style="padding-top: 2px; padding-bottom: 0px; padding-right: 115px; padding-left: 115px; display: inline-block;">
                                <input asp-for="TransferAmount" type="text" class="form-control" id="transfer" style="background-color: #ECDBBA; border: transparent; color: black; text-align: center; font-size: 25px;">
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-check-inline" style="padding-top: 0px; padding-right: 115px; padding-left: 115px; display: inline-block;">
                        <div class="form-group" style="color: white">
                            <div class="date" style="padding-top: 2px; padding-left:10px">
                                <div class="date" style="background-color: #AA1945; font-size: 20px;">Date</div>
                            </div>
                            <div tyle="padding-top: 20px;">
                                <div class="input" style="padding-top: 2px; padding-bottom: 0px; padding-right: 50px; padding-left: 50px; display: inline-block;">
                                    <label class="col-form-label">
                                        @if (Model.FutureTransfer == "false")
                                        {
                                        <input name="futureTransfer" type="radio" value="false" class="form-check-input" id="immediateRadio" checked="checked" />
                                        }
                                        else
                                        {
                                        <input name="futureTransfer" type="radio" value="false" class="form-check-input" id="immediateRadio" />
                                        }
                                    </label>
                                    <span style="font-weight:normal; padding-right:20px; color:black;">Immediate</span>
                                </div>
                                <div class="input" style="padding-top: 2px; padding-bottom: 0px; padding-right: 50px; padding-left: 50px; display: inline-block;">
                                    <label class="col-form-label">
                                        @if (Model.FutureTransfer == "false")
                                        {
                                        <input name="futureTransfer" type="radio" value="true" class="form-check-input" id="futureRadio" />
                                        }
                                        else
                                        {
                                        <input name="futureTransfer" type="radio" value="true" class="form-check-input" id="futureRadio" checked="checked" />
                                        }
                                        <span style="font-weight:normal; padding-right:20px; color:black;">Schedule</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="futureTime">
                        <div class="form-group form-check-inline" style="padding-top: 0px; padding-right: 115px; padding-left: 115px; display: inline-block;">
                            <div class="form-group" style="color: white">
                                <div class="plannedtimeoftransfer" style="padding-top: 2px;">
                                    <div class="plannedtimeoftransfer" style="background-color: #AA1945; font-size: 20px;">Planned time of transfer</div>
                                </div>
                                <div class="input" style="padding-top: 2px; padding-bottom: 0px; padding-right: 150px; padding-left: 150px; display: inline-block;">
                                    <div style="padding-top: 10px; padding-bottom: 10px;">
                                        <input asp-for="TimeTransfer" /><br />
                                        <span asp-validation-for="TimeTransfer" class="text-danger small"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="every" style="padding-top: 0px; padding-right:50px;padding-left:50px; display: inline-block;">
                    <div><button action="submit" style="width:auto;display: inline-block;" id="transac-submit" class="btn2">Confirm</button></div>
                </div>
                <div><button id="FailSafe">Fail-Safe Demo Button</button></div>
            </form>
        </div>
    </div>
</div>
<div class="alert" style="text-align:center; color:black;">
    <div>digibank Alert</div>
    <br /><strong>Insufficient balance in your account.</strong>
    <strong>Please enter a lower amount and try again.</strong>
    <br /><div class="closebtn" style="width:auto;display: inline-block;">OK</div>
</div>
@section scripts{
    @*Add JavaScripts specifically for this view here*@
    <script src="~/js/futuretransfer.js"></script>
    <script>
        $(document).ready(function () {
            $(".alert").hide();
            if ($("#futureRadio").is(':checked')) {
                $("#futureTime").show()
            } else {
                $("#futureTime").hide()
            }
            const APIKEY = "61f2742d7e55272295017175";
            $("#FailSafe").click(function (e) {
                e.preventDefault();
                
                let nric = $("#nric").val();
                let recipient = $("#to").val();
                let amount = $("#transfer").val();
                let timeTransfer = Date.now();
                let jsonData = {
                    "nric": nric,
                    "recipient": recipient,
                    "amount": amount,
                    "checkpoint1": "False",
                    "checkpoint2": "False",
                    "checkpoint3": "False",
                    "checkpoint4": "False",
                    "timeTransfer": timeTransfer
                };
                let settings = {
                    "async": "true",
                    "crossDomain": "true",
                    "url": "https://ocbcdatabase-0c55.restdb.io/rest/temptransac",
                    "method": "POST",
                    "headers": {
                        "content-type": "application/json",
                        "x-apikey": APIKEY,
                        "cache-control": "no-cache"
                    },
                    "processData": "false",
                    "data": JSON.stringify(jsonData)
                }
                
                $.ajax(settings).done(function (response) {
                    console.log(response);
                });
                alert("Internal Server Error 500!");
            })
            
            var sub = "False"
            $('#transac-submit').click(function (e) {
                e.preventDefault()
                if (sub == "False") {
                    let nric = $("#nric").val();
                    let recipient = $("#to").val();
                    let amount = $("#transfer").val();
                    let timeTransfer = Date.now();
                    let jsonData = {
                        "nric": nric,
                        "recipient": recipient,
                        "amount": amount,
                        "checkpoint1": "False",
                        "checkpoint2": "False",
                        "checkpoint3": "False",
                        "checkpoint4": "False",
                        "timeTransfer": timeTransfer
                    };
                    let settings = {
                        "async": "true",
                        "crossDomain": "true",
                        "url": "https://ocbcdatabase-0c55.restdb.io/rest/temptransac",
                        "method": "POST",
                        "headers": {
                            "content-type": "application/json",
                            "x-apikey": APIKEY,
                            "cache-control": "no-cache"
                        },
                        "processData": "false",
                        "data": JSON.stringify(jsonData)
                    }
                    sub= "True"
                    $("#transac-submit").unbind('click').click();
                    $.ajax(settings).done(function (response) {
                        console.log(response);
                    }).then(function () {
                        $(e.currentTarget).trigger('click');
                    })
                }
                
            });
            //function sendCopyToRestDb(e) {
                
                
            //}
        })
        $("#futureRadio").click(function () {
            $("#futureTime").show()
        })
        $("#immediateRadio").click(function () {
            $("#futureTime").hide()
        })
        var value = @Model.Balance;
        $("#transfer").keyup(function () {
            console.log();
            if ($("#transfer").val() > value) {
                $(".alert").show();
                $(".btn2").hide();
            } else {
                $(".btn2").show();
                $(".alert").hide();
            }
        })
        $(".closebtn").click(function () {
            $(".alert").hide();

        })

    </script>
}
