@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section css{
    @*Add specific css script here*@
    <link rel="stylesheet" href="~/css/authentication.css" />
}
<div class="container" id="mainContainer2">
    <div class="first-container">
        <div style="text-align: center; margin-top:5%">
            <img id="imgLogo" src="~/images/Authentication.jpg"
                 style="width: 50%" />
            <h1 style="margin-top:5%;margin-bottom:30px;">Enter your 7 digits code</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <form asp-action="Authentication" style="text-align: center">
                <div class="container">
                    <div class="form-group form-check-inline" style="padding-top: 0px; padding-right: 115px; padding-left: 115px; display: inline-block;">
                        <div class="form-group" style="color: white">
                            <div class="code" style="padding-top: 2px;">
                                <div class="to" style="background-color: #AA1945;font-size:20px;">Enter Code</div>
                            </div>
                            <div class="input" style="padding-top: 2px; padding-bottom: 0px; padding-right: 115px; padding-left: 115px; display: inline-block;">
                                <input name="Code"type="text" class="form-control" id="code" style="background-color: #E7625F; border: transparent; color: white; text-align: center; font-size:25px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="every" style="padding-top: 0px; padding-right:50px;padding-left:50px; display: inline-block;">
                    <div><button action="submit" onclick="document.getElementById('id01').style.display='block'" style="width:auto;display: inline-block;" class="btn2" id="login">Login</button></div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/authentication.js"></script>
}`